extends layout

block content
	div.row
		div.span9
			h1(class="text-center" ) IRoomVision
			div.row
				//-the grid used for image
				div.span7
					p(class="label label-info" id="title_canvas") Real-Time Map
					canvas(id="myCanvas" width="550" height="330")
						|Your browser does not support the HTML5 canvas tag.
				//-the grid used for data	
				div.span2
					p(class="label label-info") Real-Time Data
					p(class="badge badge-inverse" id="peopleCount") 0 People Inside
	//- the img will be drawed on the website
	img(id="scream" src="/images/iRoomLayout.png" alt="The Scream"  width="1" height="1")
	
	//- javascript>>>>>>>>>>>>>>>>>>>>>>>>
	script.
		//-draw the Iroom Layout
		var c=document.getElementById("myCanvas");
		var ctx=c.getContext("2d");
		var c=document.getElementById("myCanvas");
		var ctx=c.getContext("2d");
		var img=document.getElementById("scream");

	
		ctx.drawImage(img,0,0,500,330);
		drawCircle(200,300,ctx);

		//- the main function refresh every seconds
		var t=setInterval(runFunction,1000);
		function runFunction(){
			//- update time
			updateTime();
			//- get the location data
			$.get("json",function(data,status){
				var len=data.length;
				document.getElementById('peopleCount').innerHTML=len+" People Inside";
				//-redraw the image map
				ctx.drawImage(img,0,0,500,330);
				//-draw people on the map
				for(var i=0;i<len;i++){
					drawCircle(data[i][0],data[i][1],ctx);
				}
			});
		}

		//-the subfunction for formatting the time
		function checkTime(i)
		{
		if (i<10)
		{
			i="0" + i;
		}
			return i;
		}

		//- function to update time on the webpage
		function updateTime(){

			var today=new Date();
			var h=today.getHours();
			var m=today.getMinutes();
			var s=today.getSeconds();

			// add a zero in front of numbers<10
			m=checkTime(m);
			s=checkTime(s);
			document.getElementById('title_canvas').innerHTML="Real-Time Map      "+h+":"+m+":"+s;
		}

		//- function to draw a circle on the canvas
		function drawCircle(x,y,context){
			context.beginPath();
				context.arc(x, y, 6, 0, 2 * Math.PI, false);
				context.fillStyle = 'green';
				context.fill();
				context.lineWidth = 2;
				context.strokeStyle = '#003300';
				context.stroke();
		}




      
		
